@tailwind base;
@tailwind components;
@tailwind utilities;
/* Chrome, Edge, and Safari */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
